.Tudo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.FraseInicial {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 55px;
    cursor: default;
    font-family: fantasy;
}

.opcao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    border: solid black 2px
}

.opcao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    border: solid black 2px
}

.opcao3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    border: solid black 2px
}

.FraseProdutos {
    cursor: default;
    margin-right: 30px;
    margin-left: 50px;
}

.FraseClientes {
    cursor: default;
    margin-right: 36px;
    margin-left: 50px;
}

.FrasePedidos {
    cursor: default;
    margin-right: 37px;
    margin-left: 50px;
}

.botao1 {
    position: absolute;
    margin-left: 26%;
}

.botao2 {
    position: absolute;
    margin-left: 26%;
}

.botao3 {
    position: absolute;
    margin-left: 26%;
}

.icone1 {
    cursor: default;
}

.icone2 {
    cursor: default;
}

.icone3 {
    cursor: default;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    background-color: white;
    margin-right: -40px;
    margin-left: 20px;
    cursor: pointer;
}

span {
    font-size: 50px;
    margin: 0px
}